body {
  margin: 0;
  padding: 0;
  background-color: black;
}

svg {
  margin-right: 18%;
  width: 800px;
  opacity: 0.7;
}

h1 {
  margin-top: -30%;
  margin-right: 33%;
  opacity: 0.6;
  text-align: center;
  font-size: 70px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#h1-weapons {
  color: whitesmoke;
  opacity: 0.6;
  margin-top: -36%;
  margin-right: 31%;
}

#h1-maps {
  opacity: 0.5;
  margin-right: 35%;
}

button {
  font-family: DINNextW1G, arial, georgia, sans-serif;
  font-size: medium;
  font-weight: bolder;
  border: none;
  border-radius: 15% 0% 0% 15%;
  width: 170px;
  height: 80px;
  padding: 10%;
  background-color: gray;
  opacity: 0.7;
  transition: opacity 400ms;
  border-left: 7px solid #880808;
}

span {
  font-size: x-large;
}

button:hover {
  opacity: 0.9;
  color: whitesmoke;
  border-left: 5px solid rgb(207, 207, 207);
}

.game {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
  background-image: url(/images/valorant.jpg);
  background-size: cover;
  margin-bottom: 6px;
}

svg {
  margin-bottom: -28%;
  opacity: 0.7;
}

.agents {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
  background-image: url(/images/agents.jpg);
  background-size: cover;
  margin-bottom: 6px;
}

.weapons {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
  background-image: url(/images/weapons.jpg);
  background-size: cover;
  margin-bottom: 6px;
}

.maps {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
  background-image: url(/images/maps.webp);
  background-size: cover;
}